<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict/>
	<key>Non-Consumables</key>
	<array>
		<string>UnlockAllKnights</string>
		<string>RemoveAds</string>
	</array>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>fb262779667418241</string>
            </array>
        </dict>
    </array>
    <key>FacebookAppID</key>
    <string>262779667418241</string>
    <key>FacebookDisplayName</key>
    <string>Swivel Knight</string>
</dict>
</plist>
